<mat-toolbar color="primary">
  <span>{{ title }}</span>
  <span class="example-spacer"> </span>
  <button mat-button routerLink="home">Home</button>
  <button mat-button routerLink="users">CanActivate</button>
  <button
    mat-button
    (click)="onLogin()"
    *ngIf="!(isLoggedIn$ | async); else logoutTemplate"
  >
    Login
  </button>
</mat-toolbar>

<main class="main">
  <router-outlet></router-outlet>
</main>

<ng-template #logoutTemplate>
  <button mat-button (click)="onLogout()">Logout</button>
</ng-template>
